.div1{
    background-color: aqua;
}
.div2{
    background-color: rgb(137, 108, 108);
}
.div3{
    background-color: azure;
}
.div4{
    background-color: beige;
}
.tittle{
    font-weight: 700;
    font-size:4em;

}
